<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.infostretch.api.jersey.client.testcases.EventNewEventClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.infostretch.api.jersey.client.testcases.EventUserClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.infostretch.api.jersey.client.testcases.EventAttendeesClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewAttendeesest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createdAttendeesDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteAttendeeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.infostretch.api.jersey.client.testcases.EventTicketClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createdTicketDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateToken</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
