<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:25</td>   <td>0</td> <td title="&gt;&gt;TestBaseSpecification.createClientRequest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventNewEventClient@f6c48ac]">&gt;&gt;createClientRequest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/02/05 12:30:29</td>   <td>3871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendeesClient.createNewAttendeesest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">createNewAttendeesest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/02/05 12:30:28</td>   <td>2389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEventClient.createNewEventTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventNewEventClient@f6c48ac]">createNewEventTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/02/05 12:30:33</td>   <td>8131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenarioClient.createNewOrder()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">createNewOrder</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/02/05 12:30:32</td>   <td>6326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.createNewTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@239963d8]">createNewTicketTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>20/02/05 12:30:37</td>   <td>11251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUserClient.createNewUserTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventUserClient@57fffcd7]">createNewUserTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/02/05 12:30:30</td>   <td>4893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendeesClient.createdAttendeesDetailsTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">createdAttendeesDetailsTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/02/05 12:30:33</td>   <td>7267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.createdTicketDetailsTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@239963d8]">createdTicketDetailsTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/02/05 12:30:30</td>   <td>5103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendeesClient.deleteAttendeeTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">deleteAttendeeTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/02/05 12:30:35</td>   <td>9607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenarioClient.deleteAttendeesTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">deleteAttendeesTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/02/05 12:30:29</td>   <td>3167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEventClient.deleteEventTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventNewEventClient@f6c48ac]">deleteEventTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/02/05 12:30:31</td>   <td>5496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendeesClient.deleteEventTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">deleteEventTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/02/05 12:30:33</td>   <td>7386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.deleteEventTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@239963d8]">deleteEventTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/02/05 12:30:35</td>   <td>9895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenarioClient.deleteEventTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">deleteEventTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/02/05 12:30:36</td>   <td>10188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenarioClient.deleteOrderTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">deleteOrderTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/02/05 12:30:31</td>   <td>5763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendeesClient.deleteTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">deleteTicketTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/02/05 12:30:33</td>   <td>7735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.deleteTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@239963d8]">deleteTicketTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/02/05 12:30:36</td>   <td>10842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenarioClient.deleteTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">deleteTicketTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>20/02/05 12:30:37</td>   <td>12016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUserClient.deleteUserTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventUserClient@57fffcd7]">deleteUserTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:26</td>   <td>362</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventNewEventClient@f6c48ac]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventAttendeesClient@13deb50e]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:31</td>   <td>5992</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@239963d8]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:33</td>   <td>7876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventEndToEndScenarioClient@3abbfa04]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/02/05 12:30:36</td>   <td>11011</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventUserClient@57fffcd7]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>20/02/05 12:30:38</td>   <td>12553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUserClient.getUserTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventUserClient@57fffcd7]">getUserTest</td> 
  <td>main@1690254271</td>   <td></td> </tr>
</table>
