<h2>Reporter output</h2><table><tr><td>Access_token generated successfully</td></tr>
<tr><td>New Event is created successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Access_token generated successfully</td></tr>
<tr><td>New Event is created successfully</td></tr>
<tr><td>New Ticket is created successfully</td></tr>
<tr><td>Attendee is created successfully</td></tr>
<tr><td>Attendees details displayed successfully</td></tr>
<tr><td>Attendee is deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Access_token generated successfully</td></tr>
<tr><td>New Event is created successfully</td></tr>
<tr><td>New Ticket is created successfully</td></tr>
<tr><td>Ticket details displayed successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Access_token generated successfully</td></tr>
<tr><td>New Event is created successfully</td></tr>
<tr><td>New Ticket is created successfully</td></tr>
<tr><td>Attendee is created successfully</td></tr>
<tr><td>Order created successfully</td></tr>
<tr><td>Attendee is deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Order deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Access_token generated successfully</td></tr>
<tr><td>User is created successfully</td></tr>
<tr><td>User is deleted successfully</td></tr>
<tr><td>User detail displayed successfully</td></tr>
</table>