<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>20/02/06 11:41:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.createNewEventTest()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@1f28c152]">createNewEventTest</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/02/06 11:41:27</td>   <td>3501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.deleteEventTest()[pri:3, instance:com.api.restassured.testcases.EventNewEvent@1f28c152]">deleteEventTest</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/02/06 11:41:24</td>   <td>847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.getAllEventTest()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@1f28c152]">getAllEventTest</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/02/06 11:41:20</td>   <td>-3664</td> <td title="&gt;&gt;TestBaseSpecification.getBaseUrl()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@1f28c152]">&gt;&gt;getBaseUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>20/02/06 11:41:24</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@1f28c152]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
</table>
