<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.api.restassured.testcases.EventTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteSpecificEvent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getListOfEvents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postEventAuthenticationRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getListOfEvents1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
