<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e18270">  <td>20/01/09 15:15:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@371619938</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/01/09 15:15:20</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EventTest.postData()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">&gt;&gt;postData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@371619938</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/01/09 15:15:20</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTest.deleteSpecificEvent()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">deleteSpecificEvent</td> 
  <td>main@371619938</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/01/09 15:15:23</td>   <td>3294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTest.getListOfEvents()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">getListOfEvents</td> 
  <td>main@371619938</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/01/09 15:15:23</td>   <td>3574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTest.getListOfEvents1()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">getListOfEvents1</td> 
  <td>main@371619938</td>   <td></td> </tr>
<tr bgcolor="78898f">  <td>20/01/09 15:15:24</td>   <td>4020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTest.postEventAuthenticationRequest()[pri:0, instance:com.api.restassured.testcases.EventTest@2f490758]">postEventAuthenticationRequest</td> 
  <td>main@371619938</td>   <td></td> </tr>
</table>
