<h2>Methods that were not run</h2><table>
<tr><td>com.infostretch.api.jersey.client.testcases.EventTicketClient.deleteEventTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Test to delete created event details</i></td></tr>
<tr><td>com.infostretch.api.jersey.client.testcases.EventTicketClient.updateTicketTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Test to update created Ticket</i></td></tr>
</table>