<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8f71">  <td>20/02/05 12:28:03</td>   <td>0</td> <td title="&gt;&gt;TestBaseSpecification.createClientRequest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@754ba872]">&gt;&gt;createClientRequest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/02/05 12:28:03</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.generateToken()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@754ba872]">&gt;&gt;generateToken</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/02/05 12:28:04</td>   <td>1599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.createNewTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@754ba872]">createNewTicketTest</td> 
  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/02/05 12:28:05</td>   <td>2540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.createdTicketDetailsTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@754ba872]">createdTicketDetailsTest</td> 
  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/02/05 12:28:05</td>   <td>2671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTicketClient.deleteTicketTest()[pri:0, instance:com.infostretch.api.jersey.client.testcases.EventTicketClient@754ba872]">deleteTicketTest</td> 
  <td>main@701141022</td>   <td></td> </tr>
</table>
