<h2>Reporter output</h2><table><tr><td>Access_token generated successfully</td></tr>
<tr><td>New Event is created successfully</td></tr>
<tr><td>New Ticket is created successfully</td></tr>
<tr><td>Ticket details displayed successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
</table>