<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.api.restassured.testcases.EventUsers</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllUserDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSpecificUserDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventTopics</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTopicTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEventTopicsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateEventTopicTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSpecificEventTopicTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventNewEvent</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventEndToEndScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventLocations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseStatusLineTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseStatusCodeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseHeadersTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseDataIDTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseContentTypeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBodyTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSpecificAttributesNameTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkAttributesNameTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseDataTypeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseServerTypeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEventLocationsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventAttendees</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewAttendeesTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketAndEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventOrders</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createNewOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllOrdersTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteAteendeesTicketAndEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.api.restassured.testcases.EventTickets</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewTicketTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteEventTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
