<h2>Methods that were not run</h2><table>
<tr><td>com.api.restassured.testcases.EventTopics.deleteEventTopicTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Test to delete specific event topic</i></td></tr>
</table>