<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Infostretch Event API Test Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cab579">  <td>20/01/30 19:11:58</td>   <td>0</td> <td title="&gt;&gt;TestBaseSpecification.getBaseUrl()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">&gt;&gt;getBaseUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:02</td>   <td>3622</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventAttendees@731a74c]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/01/30 19:12:02</td>   <td>3638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendees.createNewAttendeesTest()[pri:1, instance:com.api.restassured.testcases.EventAttendees@731a74c]">createNewAttendeesTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/01/30 19:12:03</td>   <td>4954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendees.updateAttendeesTest()[pri:2, instance:com.api.restassured.testcases.EventAttendees@731a74c]">updateAttendeesTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/01/30 19:12:04</td>   <td>5300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendees.deleteAttendeesTest()[pri:3, instance:com.api.restassured.testcases.EventAttendees@731a74c]">deleteAttendeesTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>20/01/30 19:12:04</td>   <td>5604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventAttendees.deleteTicketAndEventTest()[pri:4, instance:com.api.restassured.testcases.EventAttendees@731a74c]">deleteTicketAndEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:05</td>   <td>6286</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@3a883ce7]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="d2dae5">  <td>20/01/30 19:12:05</td>   <td>6287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.createNewEventTest()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@3a883ce7]">createNewEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="d2dae5">  <td>20/01/30 19:12:05</td>   <td>6722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.getAllEventTest()[pri:0, instance:com.api.restassured.testcases.EventNewEvent@3a883ce7]">getAllEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="d2dae5">  <td>20/01/30 19:12:08</td>   <td>9199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventNewEvent.deleteEventTest()[pri:3, instance:com.api.restassured.testcases.EventNewEvent@3a883ce7]">deleteEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:08</td>   <td>9508</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventOrders@1efed156]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="84f66b">  <td>20/01/30 19:12:08</td>   <td>9510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventOrders.getAllOrdersTest()[pri:1, instance:com.api.restassured.testcases.EventOrders@1efed156]">getAllOrdersTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="84f66b">  <td>20/01/30 19:12:08</td>   <td>9965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventOrders.createNewOrderTest()[pri:2, instance:com.api.restassured.testcases.EventOrders@1efed156]">createNewOrderTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="84f66b">  <td>20/01/30 19:12:10</td>   <td>11854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventOrders.deleteOrderTest()[pri:3, instance:com.api.restassured.testcases.EventOrders@1efed156]">deleteOrderTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="84f66b">  <td>20/01/30 19:12:11</td>   <td>12318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventOrders.deleteAteendeesTicketAndEventTest()[pri:4, instance:com.api.restassured.testcases.EventOrders@1efed156]">deleteAteendeesTicketAndEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:11</td>   <td>13009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventTickets@7c29daf3]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="bfb96a">  <td>20/01/30 19:12:11</td>   <td>13010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTickets.createNewTicketTest()[pri:1, instance:com.api.restassured.testcases.EventTickets@7c29daf3]">createNewTicketTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="bfb96a">  <td>20/01/30 19:12:12</td>   <td>13935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTickets.deleteTicketTest()[pri:2, instance:com.api.restassured.testcases.EventTickets@7c29daf3]">deleteTicketTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="bfb96a">  <td>20/01/30 19:12:13</td>   <td>14196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTickets.deleteEventTest()[pri:3, instance:com.api.restassured.testcases.EventTickets@7c29daf3]">deleteEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:13</td>   <td>14476</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventTopics@2a17b7b6]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>20/01/30 19:12:13</td>   <td>14477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTopics.getEventTopicsTest()[pri:0, instance:com.api.restassured.testcases.EventTopics@2a17b7b6]">getEventTopicsTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>20/01/30 19:12:13</td>   <td>14817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTopics.getSpecificEventTopicTest()[pri:0, instance:com.api.restassured.testcases.EventTopics@2a17b7b6]">getSpecificEventTopicTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>20/01/30 19:12:13</td>   <td>15018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventTopics.updateEventTopicTest()[pri:0, instance:com.api.restassured.testcases.EventTopics@2a17b7b6]">updateEventTopicTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:14</td>   <td>15707</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventUsers@131276c2]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/01/30 19:12:14</td>   <td>15709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUsers.getAllUserDetailsTest()[pri:1, instance:com.api.restassured.testcases.EventUsers@131276c2]">getAllUserDetailsTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/01/30 19:12:14</td>   <td>16017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUsers.createNewUserTest()[pri:2, instance:com.api.restassured.testcases.EventUsers@131276c2]">createNewUserTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/01/30 19:12:15</td>   <td>16615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUsers.getSpecificUserDetailsTest()[pri:3, instance:com.api.restassured.testcases.EventUsers@131276c2]">getSpecificUserDetailsTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/01/30 19:12:15</td>   <td>16996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUsers.updateUserTest()[pri:4, instance:com.api.restassured.testcases.EventUsers@131276c2]">updateUserTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/01/30 19:12:16</td>   <td>17505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventUsers.deleteUserTest()[pri:5, instance:com.api.restassured.testcases.EventUsers@131276c2]">deleteUserTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:17</td>   <td>18135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:17</td>   <td>18136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.createNewEventTest()[pri:1, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">createNewEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:17</td>   <td>18736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.createNewTicketTest()[pri:2, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">createNewTicketTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:17</td>   <td>19056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.updateTicketTest()[pri:3, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">updateTicketTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:18</td>   <td>19290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.createNewAttendeesTest()[pri:4, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">createNewAttendeesTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:18</td>   <td>19693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.createNewOrderTest()[pri:5, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">createNewOrderTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:18</td>   <td>20073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.deleteOrderTest()[pri:6, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">deleteOrderTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:19</td>   <td>20461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.deleteAttendeesTest()[pri:7, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">deleteAttendeesTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:19</td>   <td>20686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.deleteTicketTest()[pri:8, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">deleteTicketTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>20/01/30 19:12:19</td>   <td>20916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventEndToEndScenario.deleteEventTest()[pri:9, instance:com.api.restassured.testcases.EventEndToEndScenario@23faf8f2]">deleteEventTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/01/30 19:12:20</td>   <td>21199</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSpecification.getCredentials()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">&gt;&gt;getCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21199</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EventLocations.getEventLocationsTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">&gt;&gt;getEventLocationsTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkAttributesNameTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkAttributesNameTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseBodyTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseBodyTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseContentTypeTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseContentTypeTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseDataTypeTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseDataTypeTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseHeadersTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseHeadersTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseServerTypeTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseServerTypeTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseStatusCodeTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseStatusCodeTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseStatusLineTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseStatusLineTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkSpecificAttributesNameTest()[pri:0, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkSpecificAttributesNameTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/30 19:12:20</td>   <td>21422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EventLocations.checkResponseDataIDTest()[pri:11, instance:com.api.restassured.testcases.EventLocations@396f6598]">checkResponseDataIDTest</td> 
  <td>main@410495873</td>   <td></td> </tr>
</table>
