<h2>Reporter output</h2><table><tr><td>New Event created successfully</td></tr>
<tr><td>New ticket created successfully</td></tr>
<tr><td>New Attendees created successfully</td></tr>
<tr><td>Attendees Updated successfully</td></tr>
<tr><td>Attendees deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>New Event created successfully</td></tr>
<tr><td>Status code is 200 (OK)</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Status code is 200 (OK)</td></tr>
<tr><td>New Event created successfully</td></tr>
<tr><td>New ticket created successfully</td></tr>
<tr><td>New Attendees created successfully</td></tr>
<tr><td>Order created successfully</td></tr>
<tr><td>Order deleted successfully</td></tr>
<tr><td>Attendees deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>New Event created successfully</td></tr>
<tr><td>New ticket created successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Event Topics are displayed properly</td></tr>
<tr><td>Specifc Event topic is displayed properly</td></tr>
<tr><td>Event Topic is updated successfully</td></tr>
<tr><td>User details displyed properly</td></tr>
<tr><td>New user created successfully</td></tr>
<tr><td>User ID : 1536 displyed properly</td></tr>
<tr><td>User ID : 1536 name JohnUpdated updated properly</td></tr>
<tr><td>User is deleted successfully</td></tr>
<tr><td>New Event created successfully</td></tr>
<tr><td>New ticket created successfully</td></tr>
<tr><td>Ticket Updated successfully</td></tr>
<tr><td>New Attendees created successfully</td></tr>
<tr><td>Order created successfully</td></tr>
<tr><td>Order deleted successfully</td></tr>
<tr><td>Attendees deleted successfully</td></tr>
<tr><td>Ticket deleted successfully</td></tr>
<tr><td>Event deleted successfully</td></tr>
<tr><td>Response details displyed properly</td></tr>
<tr><td>Attribute infostretch is displayed properly</td></tr>
<tr><td>Response Body is having detail information</td></tr>
<tr><td>Content Types are correct</td></tr>
<tr><td>Data Types event-location is displayed properly</td></tr>
<tr><td>Headers are displayed properly</td></tr>
<tr><td>Server Types is displayed properly</td></tr>
<tr><td>Status code is 200 (OK)</td></tr>
<tr><td>Status Line is correct</td></tr>
<tr><td>Attribute Bangalore is displayed properly</td></tr>
<tr><td>Data Id 1 is displayed properly</td></tr>
</table>